{% extends 'core/base.html' %}
{% load static %}

{% load static %}


{% block content %}
<section id="aboutus">
    
  <div class="home-search p-0">
    <div class="container"></div>
    <div class="container text-center"></div>
      <div class="overlay round-corners p-5">
        <div class="row col-12 pl-0 ml-0 justify-content-center">
          <div class="col-12 col-lg-8 p-0 text-center">
            <b><h2>
              {{ _("About Us - Sri Realtors") }}
            </h2></b>
            <p class="lead mb-0">{{ _("Sri Realtors is a pioneer real estate listing website in Sri Lanka. A person can register and login to the website to list properties. There is also a separate Admin login for managing the site.") }}</p>
            <section id="about-company" class="py-1 text-center">
              <hr width="80%" color="white">
              <div class="container">
                <b><h2>{{ _("Our Mission") }}</h2></b>
                <p>{{ _("Our mission is to offer unparalleled real estate experiences by delivering top-notch services and fostering lasting relationships with our clients. We strive to understand your unique needs and provide tailored solutions that exceed expectations.") }}</p>
                <hr width="80%" color="white">
                <b><h2>{{ _("Our Vision") }}</h2></b>
                <p>{{ _("We envision a world where finding the perfect property is seamless and enjoyable. By leveraging our extensive market knowledge, innovative technology, and a client-centric approach, we aim to be the leading real estate agency in Colombo.") }}</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - [Your Company Name]</title>
</head>
<body>
      

      <br>

<br>
</body>

{% if realtors %}
<!-- Team -->
<section id="tems" class="py-5">
  <div class="container">
    <h2 class="text-center pb-5">{{ _("Our Team") }}</h2>
    <div class="row text-center">

      {% for realtor in realtors %}


      <div class="{% if realtors.count > 2 %} col-md-4 {% else %} col-md-6 {% endif %}">
        <img src="{{ realtor.photo.url }}" alt="{{ realtor.name }}" class="rounded-circle-5 mb-3">
        <h4>{{ realtor.name }}</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> {{ _("Realtor") }}</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
        <p>
          <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
      </div>

      {% endfor %}
    </div>

  </div>
</section>
<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4 pb-3">{{ _("We Work For You") }}</h2>

  <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">{{ _("View Our Featured Listings") }}</a>
</section>

{% endif %}

{% endblock %}
