{% extends 'core/base.html' %}
{% load static %}

{% load humanize %}
{% block extrastyle %}

<meta name="description" content="Real estate manager. 
Offers the best real estate objects and takes care of every aspect for you.
Services offered: renting, selling, buying, consultation and way more."/>
{% endblock %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay round-corners p-5">


        <div class="row col-12 pl-0 ml-0">

          <div class="col-12 col-lg-8 p-0 text-left">
            <h1 class="display-4 font-weight-bold mb-3">
              {{ _("Pioneers in Sri Lankan Real Estate") }}
            </h1>
            <p class="lead mb-5">{{ _("We offer extraordinary properties across the islands") }}</p>
          </div>

          <div class="col-4"></div>
        </div>


        {% include 'core/partials/_search.html' %}
      </div>
    </div>
  </div>
</section>
<br>
<!--About the Assignment-->
<!-- About the Website -->
<br>
<!-- Overview of the Assignment Task -->
<section id="assignment-overview" class="py-5 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h2 class="font-weight-bold">
          {{ _("Overview of the Assignment Task") }}
        </h2>
        <p class="lead">
          {{ _("Platform for real estate listings: An application that allows you to list properties for sale or rent. Users can examine property details, get in touch with agents, and search for properties using a variety of parameters.") }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- about the team -->
<section id="team" class="py-5 bg-dark">
  <div class="container">
    <h2 class="text-center">{{ _("About the Team") }}</h2>
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-3">
        <div class="team-box p-4">
          <div class="team-photo" id="uresh-photo"></div>
          <h3>Uresh Fernando</h3>
          <p>216032J</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="team-box p-4">
          <div class="team-photo" id="shanuka-photo"></div>
          <h3>Shanuka Perera</h3>
          <p>216092P</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="team-box p-4">
          <div class="team-photo" id="nithula-photo"></div>
          <h3>Nithula Nandiv</h3>
          <p>216084T</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Grading Scheme -->
<section id="grading-scheme" class="py-5 bg-light">
  <div class="container">
    <h2>{{ _("Grading Scheme") }}</h2>
    <p>{{ _("This project will be graded based on the following criteria:") }}</p>
    <ul>
      <li>{{ _("Functionality") }}</li>
      <li>{{ _("Visual look and feel") }}</li>
      <li>{{ _("Code quality") }}</li>
      <li>{{ _("GitHub repository") }}</li>
      <li>{{ _("Group collaboration") }}</li>
    </ul>
    <p>{{ _("Check the attached evaluation rubric for more details.") }}</p>
    <form method="post"?
      {% csrf_token %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ _("Dimension") }}</th>
            <th>{{ _("Excellent") }} (30 points)</th>
            <th>{{ _("Good") }} (20 points)</th>
            <th>{{ _("Satisfactory") }} (10 points)</th>
            <th>{{ _("Unsatisfactory") }} (0 points)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ _("Functionality") }}</td>
            <td><input type="radio" name="functionality" value="30"></td>
            <td><input type="radio" name="functionality" value="20"></td>
            <td><input type="radio" name="functionality" value="10"></td>
            <td><input type="radio" name="functionality" value="0"></td>
          </tr>
          <tr>
            <td>{{ _("Visual look and feel") }}</td>
            <td><input type="radio" name="visual_look_feel" value="30"></td>
            <td><input type="radio" name="visual_look_feel" value="20"></td>
            <td><input type="radio" name="visual_look_feel" value="10"></td>
            <td><input type="radio" name="visual_look_feel" value="0"></td>
          </tr>
          <tr>
            <td>{{ _("Code Quality") }}</td>
            <td><input type="radio" name="code_quality" value="20"></td>
            <td><input type="radio" name="code_quality" value="14"></td>
            <td><input type="radio" name="code_quality" value="8"></td>
            <td><input type="radio" name="code_quality" value="0"></td>
          </tr>
          <tr>
            <td>{{ _("GitHub Repository") }}</td>
            <td><input type="radio" name="git_repo" value="20"></td>
            <td><input type="radio" name="git_repo" value="14"></td>
            <td><input type="radio" name="git_repo" value="8"></td>
            <td><input type="radio" name="git_repo" value="0"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <center><button type="submit" class="btn btn-primary">{{ _("Submit Marks") }}</button></center>
    </form>
  </div>
</section>
<!-- Alerts -->
{% include 'core/partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="my-5">
  <div class="container">
    <h2 class="mb-5">
      {{ _("Latest Listings") }}
    </h2>
    <div class="row">
      {% if listings %}
      {% for listing in listings %}
      {% include 'listings/_partials/_listing-box.html' %}
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>{{ _("No Listings Available") }}</p>
      </div>
      {% endif %}

    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center  bg-blur p-5">

      <div class="col-12 col-md-6 col-xl-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>{{ _("Buying and Renting") }}</h3>
        <p>
          {{ _("We look after your assets. We are able to assist you along the entire renting or selling procedure.") }}
          {{ _("We ensure that everything is handled properly.") }}
        </p>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>{{ _("Propery Management") }}</h3>
        <p>
          {{ _("The supervision of residential, commercial, and/or industrial real estate, such as retail malls, apartments, detached homes, and condominiums, is known as property management.") }}
        </p>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>{{ _("Renting & Selling") }}</h3>
        <p>{{ _("Are you considering buying an investment property? There are many reasons to believe that real estate is a wise investment, including the fact that it has generated many of the wealthiest people on the world.") }}</p>
      </div>
    </div>
  </div>
</section>




{% endblock %}
